/*Styles généraux*/
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFEF8;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
	color: #B1663C;
}



/* Styles pour le header */
header {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    align-items: center;
    height: auto;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
    margin: 0;
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
}

nav ul li {
    display: flex;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: 200;
    justify-content: center;
}

#logoInsta {
	height: 22px;
	width: auto;
}

.selec {
    font-weight: 600;
}

li:hover {
    color: #B1663C;
}



/* Style pour le contenu principal (main) */
main {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
}
.zoneLog {
    display: flex;
    width: 33.3%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #1D6154;
    font-family: syne;
}

#Error {
    color: rgb(255, 38, 0);
    font-size: 18px;
}
#wrongPass, #wrongEmail {
    display: none;
}

.emailForm, .mdpForm {
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
    width: 75%;
    font-family: Work Sans;
}
.inputLog {
    width: 100%;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px 1px #e2e2dd;
    font-size: 19px;
    padding: 3px 12px;
}
.inputLog:focus {
    border: none;
    outline: none;
}
.zoneLog form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-bottom: 34px;
}
#btnSubmit {
    padding: 14px 38px;
    background-color: #1D6154;
    color: #FFFEF8;
    border: none;
    border-radius: 60px;
    font-weight: bold;
    font-family: syne;
}
#btnSubmit:hover {
    cursor: pointer;
}
.zoneLog a {
    color: #3D3D3D;
    text-decoration: underline;
    font-family: Work Sans;
}



/* Styles pour le footer */
footer {
    margin-top: auto;
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
}

footer nav {
    display: flex;
	margin-left: auto;
	padding-right: 5em;
    align-self: center;
    justify-content: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
    align-items: center;
}
#MLfooter {
    font-family: Work Sans;
    font-weight: 200;
}